POSTGRES_USER=flight_user
POSTGRES_PASSWORD=flight_admin_pass
POSTGRES_DB=flight_delays
DATABASE_URL=postgresql://flight_user:flight_admin_pass@postgres:5432/flight_delays

MLFLOW_TRACKING_URI=http://localhost:5000
